body {
  text-align: center;
  background-size: 100%;
  font-family:'B Nazanin';
  background-color: rgb(45, 45, 44);
  background-image: url("../Shots/back.jpg");
}

fieldset {
  width: 1500px;
  height: 850px;
  font-size: 25px;
  border-radius: 100px;
  font-weight: bolder;
  margin: 20px auto 0px auto;
  color: rgb(255, 231, 170);  
  border: 1px solid goldenrod;
  background-color: rgba(252, 234, 115, 0.25);
}


footer {
  font-size: large;
  margin-top: 20px;
  color: goldenrod;
  font-weight: bolder;
  text-shadow: 1px 1.5px 1px rgb(43, 35, 1);
}

/*----------------------------------------------------------------*/
.back-logo {
  width: 560px;
  height: 560px;
  transition: 0.8s;
  border-radius: 50%;
  border-style: none;
  background-size: 142%;
  border: 1px solid rgb(255, 183, 0);
  background-position-y: -7px;
  background-repeat: no-repeat;
  background-position-x: -105px;
}

.logo {
  width: 540px;
  height: 540px;
  transition: 0.8s;
  margin: 10px auto;
  border-radius: 50%;
  border-style: none;
  background-size: 142%;
  background-position-y: -7px;
  background-repeat: no-repeat;
  background-position-x: -105px;
  background-image: url("../Shots/لوگوی بانک فخر ایرانیان.gif");
  box-shadow: inset 1px 5px 30px 5px rgba(252, 234, 115, 0.3), 1px 5px 20px 10px rgba(252, 234, 115, 0.3);
}
.logo:hover {
  box-shadow: inset 1px 5px 20px 8px rgba(252, 234, 115, 0.3), 1px 5px 20px 10px rgba(252, 234, 115, 0.3);
}

.login {
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  transition: 300ms;
  margin-top: -12px;
  padding-top: -20px;
  border-radius: 13px;
  font-weight: bolder;
  font-family:'B Nazanin';
  background-color: #fefefed6;
  box-shadow: 1px 1px 10px 1px rgba(63, 51, 2);
  background: linear-gradient(90deg,  rgba(255,145,0,0.75) 10%, rgba(249,255,0) 50%, rgba(255,145,0,0.75) 90%);
}
.login:hover {
  background-color: #fefefe;
  -webkit-transform: scale(0.99);
  box-shadow: 1px 2px 10px 10px rgba(83, 67, 3, 0.8);
}